[submodule "tmux/.config/tmux/oh-my-tmux"]
	path = tmux/.config/tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
	branch = master
[submodule "tmux/.config/tmux/plugins/catppuccin"]
	path = tmux/.config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
