configuration {
    modi: "window,run,drun,emoji";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "ghostty"; // Tu terminal configurada
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 󰕰  Window ";
    sidebar-mode: true;
}

@theme "~/.config/rofi/themes/modern.rasi"
