* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: transparent; /* Fondo de la barra transparente para efecto isla */
}

.modules-left, .modules-center, .modules-right {
    background: #1e1e2e;
    border: 2px solid #c678dd;
    border-radius: 12px;
    padding: 2px 10px;
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #f8f8f2;
}

#workspaces button.active {
    color: #c678dd;
}

#clock, #cpu, #memory, #pulseaudio, #tray {
    padding: 0 10px;
    color: #f8f8f2;
}
