@import './themes/ml4w-modern/default/style.css';

window#waybar {
    background-color: transparent;
    margin: 10px 20px;
}

#cpu, #memory, #disk, #network, #clock, #custom-updates, #language {
    background-color: rgba(30, 30, 40, 0.8);
    color: #cdd6f4;
    border-radius: 12px;
    padding: 0px 12px;
    margin: 4px 6px;
}
